---
export interface Props {
	title?: string;
	description?: string;
}

const canonicalURL = "/";
const { title, description } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" href="assets/img/favicon.svg" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- OpenGraph / Facebook Tags -->
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:description" content={description} />
<meta property="og:image" content="" />

<!-- Twitter Tags -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content={title} />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content="" />

<!-- Google Tag (gtag.js) -->
<script
	type="text/partytown"
	src="https://www.googletagmanager.com/gtag/js?id=G-BZYESZDTPC"
></script>
<script type="text/partytown">
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag("js", new Date());

	gtag("config", "G-BZYESZDTPC");
</script>
